#hero {
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}

#card-1 {
    flex: 1;
}

#card-2 {
    flex: 2;
}

@media screen and (max-width: 768px) {
    #hero {
        flex-direction: column;
    }
}
